<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a class="nav-link" routerLink="/">Home</a></li>
      @if (!isLoggedIn()) {
      <li>
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      } @if (isLoggedIn()) {
      <li>
        <a class="nav-link" (click)="logout()" style="cursor: pointer"
          >Logout</a
        >
      </li>
      }

      <li><a class="nav-link" routerLink="/profile">Account</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet />
</div>
